<h1 style="color:#3498db">New Registration Request</h1>
<h4>Email:</h4>
<p><%= @email %></p>
<h4>Phone:</h4>
<p><%= @phone %></p>
<h4>Company:</h4>
<p><%= @company %></p>
<h4>Message:</h4>
<p><%= @message %></p>
