
#approach-unit {
  background: url('background.png');
  .backgroundsize & {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  background-color: #F8F7F3;
  @include vertical-fill(90);
  #approach-card {
    @include header-style;
    @include span-columns(6);
    @include shift(3);
    @include vertical-position(90, 2.5);
    padding: 0 2em;
    background-color: $green_sea;
    border-radius: 10px 10px 0 0;
    color: $clouds;
    font-size: 1.2em;
  }
}