.description-unit {
  .no-mediaqueries & {
      background-color: $clouds;
      @include texture($clouds, 2, 0);
  }
  .mediaqueries & {
    background-color: $sunflower;
    @include media($tablet){
      background-color: $clouds;
      @include texture($clouds, 2, 0);
    }
    @include media($screen){
      background-color: $clouds;
      @include texture($clouds, 2, 0);
    }
  }
  @include divider($dusty_rusty);
}

.container {
  @include outer-container;
}

#description-card {
  @include clearfix;
  zoom: 1; // IE 7,8 clearfix
  height: 20%;
  margin-top: 15%;
  border-radius: 10px;
  background-color: $sunflower;
  .no-mediaqueries & {
    @include span-columns(8);
    @include shift(2);
  }
  @include media($tablet){
    @include shadow;
  }
}

#description-text {
  padding: 0 2% 0 2%;
  font-family: $text-font;
  font-size: 1.3em;
  color: $charcoal;
  @include header-style;
  @include media($screen){
    .display-table & {
      @include span-columns(8);
    }
  }
}

.image-cropper {
  @include span-columns(4);
  border-radius: 0px 10px 10px 0px;
  overflow: hidden;
  display: none;
  .no-display-table & {
    display: none;
  }
  @include media($screen){
    display: inline;
  }
}