#description-unit {
  background-color: #F8F7F3;
  border-bottom: 10px solid $emerald;
  .cssvminunit & {
    $description-height: 90vmin;
    min-height: $description-height;
    padding-top: $description-height - 70;
  }
  .no-cssvminunit & {
    height: 600px;
    padding: auto 0;
  }
  #description-card{
    @include outer-container;
    background-color: $sunflower;
    border-radius: 5px;
    font-size: 1.2em;
    .no-cssvminunit & {
      margin: 20% auto;
    }
    .image-cropper {
      height: 100%;
      overflow: hidden;
      border-radius: 0px 5px 5px 0px;
      @include span-columns(4);
      .no-cssvminunit & {
        display: none;
      }
    }
    #description-text {
      padding: 2px 15px;
      padding-bottom: 10px;
      .cssvminunit & {
        @include span-columns(8);
      }
      .no-cssvminunit & {
        padding: 0.5em;
        @include span-columns(10);
        @include shift(1);
      }
    }
  }
}