#headline-unit {
  text-align: center;
  border-bottom: 10px solid $pomegranate;
  .backgroundsize & {
    background: url('background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    $height: 90vmin;
    min-height: $height;
    padding-top: $height - 60;
  }
    padding-top: 18em;
    padding-bottom: 24em;
    background-color: #ddd;
  h1 {
    font-size: 5em;
    font-family: 'Alegreya', Serif;
  }
  h4 {
    margin: 3em;
  }
}