

#headline-unit {
  @include fancy-bg("background.png", #F8F7F3);
  text-align: center;
  h1 {
    margin-top: 20%;
    font-family: "Alegreya", Georgia, Serif;
    font-size: 6em;
  }
  h4 {
    margin-top: 2em;
    font-family: "Montserrat", Helvetica, Sans-Serif;
    font-size: 1.5em;
    color: $peter_river;
  }
  @include divider($emerald)
}