@mixin message-box($color){
  border: 1px solid $color;
  background-color: lighten($color, 20%);
}

#registration {
  @include header-style;
  form {
    #registration-submit {
      @include linear-gradient($emerald, $nephritis);
      margin: 0;
      padding: 0.5em;
      text-shadow: none;
      border-radius: 5px;
      border: none;
      border-bottom: 2px solid darken($nephritis, 10%);
      background-color: $nephritis;
      color: white;
      font-size: 1.3em;
      font-family: $header-font;
      &:hover {
        background-color: lighten ($nephritis, 5%);
        @include linear-gradient(lighten($emerald, 5%), lighten($nephritis, 5%));
      }
    }
  }
}

.registration-message {
  list-style-type: none;
  padding-left: 0;
  li {
    width: 70%;
    margin: 2px;
    border-radius: 3px;
    padding: 0.2em 0.5em;
    color: $almost_black;
  }
}

.waiting {
  @include message-box($peter_river);
}

.success {
  font-size: 1.2em;
  @include message-box($emerald);
}

.error {
  @include message-box($pomegranate);
}