@mixin message-box($color){
  border: 1px solid $color;
  background-color: lighten($color, 20%);
}

#registration {
  @include header-style;
}

.registration-message {
  list-style-type: none;
  padding-left: 0;
  li {
    width: 70%;
    margin: 2px;
    border-radius: 3px;
    padding: 0.2em 0.5em;
    color: $almost_black;
  }
}

.waiting {
  @include message-box($peter_river);
}

.success {
  font-size: 1.2em;
  @include message-box($emerald);
}

.error {
  @include message-box($pomegranate);
}