.footer {
  display: block;
  height: $footer-height;
  width: 100%;
  color: white;
  background-color: $navbar-default-bg;
}

#wrap {
  padding-top: $navbar-height;
  min-height: 100%;
  width: 100%;
}