@mixin letterpress($color){
  text-shadow: 0px 1px 2px transparentize($color, 0.5);
}

@mixin header-style($letterpress-color: #eee){
  h1, h2, h3, h4, h5, h6 {
    @include letterpress($letterpress-color);
    font-family: 'Montserrat', Helvetica, Sans-Serif;
    color: $charcoal;
  }
}

@mixin fancy-bg($image-name, $fallback-color){
  background: url($image-name);
  .backgroundsize & {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  background-color: $fallback-color;
}

@mixin divider($color){
  border-bottom: 10px solid $color
}

@mixin shadow(){
  -webkit-box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 3px 7px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 3px 7px 0px rgba(50, 50, 50, 0.5);
}