<section class="<%= block.style  %>">
  <div class="container">
    <div class='v-spacer'></div>
    <div class="card">
      <%= raw block.content  %>
    </div>
    <div class='v-spacer'></div>
  </div>
</section>