<section id="description-unit">
  <div class="container">
    <div id="description-card">
      <div id="description-text">
        <%= raw @course.description  %>
      </div>
      <div class="image-cropper">
        <%= image_tag("taking-notes.jpg")  %>
      </div>
    </div>
  </div>
</section>