<% unless @course.tagline == "" %>
  <%= render "courses/headline"  %>
<% end %>

<% unless @course.description == nil %>
  <%=  render "courses/description"  %>
<% end %>

<% unless @course.approach == nil %>
  <%=  render "courses/approach"  %>
<% end %>

<% if @course.content_blocks %>
  <% @course.content_blocks.each do |block| %>
    <section>
      <div class="container">
        <%= raw block.content %>
      </div>
    </section>
  <% end %>
<% end %>