$navbar-height: 70px;
$footer-height: 70px;
$navbar-default-bg: #272722;
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Alegreya:400italic,400);
@import 'bootstrap';

// IE8 Adjustments
html, body {
  height: 100%
}

.navbar {
  border-bottom: 4px solid lighten($navbar-default-bg, 30%)
}

.navbar-brand {
  padding: 5px;
  height: $navbar-height;
}

.footer {
  height: $footer-height;
  width: 100%;
  color: white;
  background-color: $navbar-default-bg;
}

#wrap {
  min-height: 100%;
  width: 100%;
}

#register {
  @media (max-width: $screen-sm-min){
    display: block;
    width: 80%;
    margin: 2px auto;
  }
  .no-flexboxlegacy & {
    display: block;
    float: right;
    margin-right: 5%;
    height: $navbar-height - 30;
    text-align: center;
  }
}